<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
 	<title>微长大-成绩查询</title>
	<script type="text/javascript" src="http://7xlb4q.com1.z0.glb.clouddn.com/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://7xlb4q.com1.z0.glb.clouddn.com/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="http://7xlb4q.com1.z0.glb.clouddn.com/js/z_qi_tianxia.js"></script>
	<link rel="stylesheet" href="http://7xlb4q.com1.z0.glb.clouddn.com/css/z_style.css">
    <link rel="stylesheet" href="http://7xlb4q.com1.z0.glb.clouddn.com/css/font-awesome.min.css">
	<script type="text/javascript">
	$(function(){
		z_qi_tianxia();
	});
	</script>

 </head>
 <style>
	body,html{
		padding-bottom: 100px;
	}
</style>
 <body>
 	<div class="z_header">
 		<a class="z_link" href="#"><i class="fa fa-angle-double-left"></i></a>
 		<p><i class="fa fa-search"></i> 成绩查询</p>
 	</div>
	<ul class="z_nav">
		<li><a class="z_cur_nav" href="#">本学期成绩</a></li>
		<li><a href="#">全部成绩</a></li>
		<li><a href="#">绩点查询</a></li>
	</ul>
	<ul class="z_order_content">
		<li class="z_list_all">
            <table border="0">
                <thead>
                    <th width="100px">名称</th>
                    <th>成绩</th>
                    <th>学分</th>
                    <th>年度</th>
                    <th>学期</th>
                    <th>类别</th>
                </thead>
                <tbody>
                <tr><td>工程制图基础</td><td>83.00</td><td>3.0</td><td>2011</td><td>1</td><td>必修</td></tr>
                <tr><td>工程制图基础工程制图基础</td><td>83.00</td><td>3.0</td><td>2011</td><td>1</td><td>必修</td></tr>
                <tr><td>工程制图基础</td><td>83.00</td><td>3.0</td><td>2011</td><td>1</td><td>必修</td></tr>
                </tbody></table>

		</li>
		<li class="z_list_nopay">
            <table>
                <thead>
                <tr>
                    <th width="100rem">名称</th>
                    <th>成绩</th>
                    <th>学分</th>
                    <th>年度</th>
                    <th>学期</th>
                    <th>类别</th>
                </tr>
                </thead>
                <tbody>
                <tr><td>工程制图基础</td><td>83.00</td><td>3.0</td><td>2011</td><td>1</td><td>必修</td></tr>
                <tr><td>工程流体力学</td><td>83.00</td><td>3.0</td><td>2011</td><td>1</td><td>必修</td></tr>
                </tbody></table>
		</li>
		<li class="z_list_alreay_pay">
            <div class="jd_box1">
            <div class="jd_touxiang">
                <img src="images/1.jpg" alt=""/>
            </div>
            <div class="jd_info">
                <p class="tx_info">姓名：朱宁</p>
                <p class="tx_info">学号：201111111</p>
                <p class="tx_info">班级：油工61305</p>
            </div>
                <div class="clear"></div>
            </div>
            <div class="jd_box2">
                <span class="jd_title">当前绩点：</span>
                <span class="jd_c">2.3333</span>
            </div>

		    
		</li>


	</ul>
</body>
</html>