@charset "utf-8";

.fbp{ color:#blue; font-size:14px; padding:40px; }
.bp_bar {
    font-family: Arial, "新細明體";
    color: #333333;
    width: 818px;
    height: 36px;
    background-image: url(../images/bp_barbg.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    margin: 0 1px;
    font-size: 13px;
}
.bp_bar a {
    font-size: 13px;
    color: #333333;
    text-decoration: none;
}
.bp_bar  a:hover {
    font-size: 13px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 2px;
}

.bp_bar ul {
    list-style-type: none;
    text-align: center;
    padding: 0 ;
    margin: 0;
    height:36px;
}
.bp_bar  li {
    list-style-type: none;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #DDDDDD;
    padding:8px 6px;
    margin:0;
    display: inline-block;
}

.brndworks_l {
	width:500px;
	height:500px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	border: 1px solid #ddd;
	padding: 4px;
}
.brndworks_l img {
	display: inline-block;
}
.brndworks_l *{ vertical-align:middle;}
.brndworks_r {
	width: 235px;
	float: left;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size: 13px;
}
.brndworks_r img {
	display: inline-block;
	height: 60px;
	width: 60px;
	background-position: top;
}
.brndworks_r p {
	float: left;
	border: 1px solid #ddd;
	padding: 4px;
	margin: 0 4px 8px 4px;
}
.html_content {
    font-size: 15px;
    line-height: 25px;
    color: #333;
    padding:10px 0;
}
