#tabs_mostview .imanymenu .active a {background: url(../../images/boxe_menu02.jpg) no-repeat left bottom;}
#tabs_col .active a {background: url(../../images/boxc_menu.jpg) no-repeat left bottom;}
#tabs_buy .active a {background: url(../../images/boxe_menu01.jpg) no-repeat left bottom;}
