<!DOCTYPE html>
<html>
<head>
<include file="Public/head" /> 
</head>
<body>
<div class="top2">
	<div class="logo"></div>
    <a href="{:U('content/gets',array('panel'=>$panel))}" class="fanhui">返回首页</a>
</div>
  <div class="nr_box">
      <div class="title">{$article.title}
          <p class="info">发布时间：{:date('Y年m月d日',$article['create_time'])}</p>
      </div>
      <div class="centent">
          <p>{$article.description}</p>
          <div class="row">
		  <foreach name="article.ext.pic" item='img'>
            <div class="col-xs-6 col-md-3">
             <div class="thumbnail">
               <img src="__PUBLIC__/{$img}" alt=""/>
             </div>
            </div>
		  </foreach>
        		
            </div>
      </div>

      <div class=" panel-default">
          <div class="panel-heading"><i class="fa fa-phone-square"></i> 联系方式</div>
          <div class="panel-body">
              手机：{$article.phone}
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="footer2">
          2015 © 江陵巡警版权所有
      </div>
  </div>

</body>
</html>